body {
    background: #000;
    display: flex;
    line-height: 1.5;
}

.message {
    display: flex;
    align-items: flex-end;
}

img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 45px;
}

.dialog {
    margin-left: 20px;
    color: white;
    max-width: 200px;
}

.dialog {
    display: inline-block;
    padding: 5px 6px 8px 6px;
    border-radius: 6px;
    float: right;
    margin-right: 40px;
    background-color: #586869;
    position: relative;
}

.dialog:after {
    content: "";
    position: absolute;
    margin-top: 74px;
    margin-left: -34px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #586869;
    transform: rotate(129deg);
    right: 199px;
    top: 10px;
}

.text {
    font-size: 12px;
}

.time {
    font-size: 14px;
    text-align: right;
}
