.main {
    margin-bottom: 20px;
}
.greeting {
    display: flex;
}

.error {
    color: red;
    height: 21px ;
}
.errorInput {
    border: 1px solid red;
}
.greeting input:focus-visible{
    outline: none;
}

.button {
    min-height: 10px;
    padding: 2px;
}

.span {
    padding: 3px;
}